body {
  background-color: rgb(253, 231, 183);
  color: rgb(0, 0, 0);
}
.questli {
  margin: 1 em;
  color: black;
}
.login-page {
  width: 50em;
  padding: 1em 1em 1em;
  margin: auto;
  background-color: rgb(255, 254, 189);
}
.result-page {
  width: 55em;
  padding: 1em 1em 1em;
  margin: auto;
  background-color: rgb(205, 235, 205);
}
.userForms input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.userForms button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #5638c5;
  width: 100%;
  border: 0;
  padding: 15px;
  margin: 1 em;
  color: #ffffff;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.userForms button:hover,
.form button:active,
.form button:focus {
  background-color: #ddd;
  color: black;
}
.quest button {
  background: rgb(77, 70, 70);
  width: 100%;
  padding: 1em;
  color: white;
}
.quest button:hover,
.quest button:active,
.quest button:focus {
  background: rgb(175, 127, 72);
}
#result {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#result td,
#result th {
  border: 1px solid #ddd;
  padding: 8px;
}

#result tr:nth-child(even) {
  background-color: #f2f2f2;
}

#result tr:hover {
  background-color: #ddd;
}

#result th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
.list {
  color: black;
  margin: 1 em;
}
.header {
  color: orange;
  margin: 2 em;
}
#fastestrecord {
  text-align: right;
  border-style: ridge;
  margin-left: 80%;
  width: 150px;
  height: 200 px;
  color: red;
  background-color: black;
  font-size: 20px;
  text-align: center;
}
