<!DOCTYPE html>
<html>
    <head>
        <title> Login</title>
    </head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <body>
    {%include "navbar.html"%}
    <form action = "/dashboard" method = "POST">
        <div class = "login-page">
            <div class = "userForms">
                <table>
                    <tr>
                        <th><button type = "submit" name = "submit" value = 'record'>記録する</button></th>
                    <tr>
                </table>
            </div>
        </div>
               <div class="row">
    </form>
    </body>
</html>