<!DOCTYPE html>
<html>
    <head>
        <title> Login</title>
    </head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    {%include "navbar.html"%}
    <body>
    <form action = "/dashboard" method = "POST">
        <div class = "login-page">
            <div class = "userForms">
                <table>
                    <tr>
                        <th><button type = "submit" name = "submit" value = 'record'>{%if session['language'] == 'Japanese'%}記録する{%endif%}{%if session['language'] == 'English'%}Record{%endif%}</button></th>
                    </tr>
                    <tr>
                        <th><button type = "submit" name = "submit" value = 'export'>{%if session['language'] == 'Japanese'%}記録を見る{%endif%}{%if session['language'] == 'English'%}View Records{%endif%}</button></th>
                    </tr>
                    {% if session['userrole'] == 'admin'%}
                        <th><button type = "submit" name = "submit" value = 'addque'>{%if session['language'] == 'Japanese'%}クエスト追加{%endif%}{%if session['language'] == 'English'%}Add Quest{%endif%}</button></th>
                    {%endif%}
                </table>
            </div>
        </div>
               <div class="row">
    </form>
    </body>
</html>