<!DOCTYPE html>
<html>
  <head>
    <title>QuestList</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='style.css')}}"
  />
  <body>
    {%include "navbar.html"%}
    <div class="login-page">
      <div class="quest">
        <h2 class="questli">クエストリスト</h2>
        <form class="login-form" action="/questlist" method="POST">
          {% for i in quest%}
          <button
            type="submit"
            name="submit"
            value="{{i.questname}}"
            style="text-align: left"
          >
            {{i.questname}}</button
          ><br />
          {%endfor%}

          <script></script>
        </form>
      </div>
    </div>
  </body>
</html>
