<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='style.css') }}"
  />
  <body>
    <div class="login-page">
      <div class="userForms">
        <h1 style="margin-top: 1em">
          {{records[0].questname}} ( {{fastest.monster}})
          <div id="fastestrecord">
            最速記録<br />
            Time: {{fastest.minute}} : {{fastest.sec}}<br />
            {{fastest.weap}}
          </div>
        </h1>
        <img
          class="recordgraph"
          src="{{ url_for('static', filename = session['questname']+'.png')}}"
          style="width: 500px; height: 500px"
        />
        <form class="login-form" action="/record" method="POST">
          <table id="result">
            <tr>
              <th>武器</th>
              <th>分</th>
              <th>秒</th>
              <th>装備</th>
              <th></th>
            </tr>

            {% for i in records%}
            <tr>
              <td>{{i.weapon}}</td>
              <td>{{i.minute}}</td>
              <td>{{i.seconds}}</td>
              <td>
                <button type="submit" name="submit" value="{{i.armorid}}">
                  装備を見る</button
                ><br />
              </td>
            </tr>
            {%endfor%}
          </table>
          <button type="submit" name="submit" value="create">
            新しい記録を作る
          </button>
          <button type="submit" name="submit" value="prev">前に戻る</button>

          <script></script>
        </form>
      </div>
    </div>
  </body>
</html>
