<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='style.css') }}"
  />
  <body>
    <div class="login-page">
      <div class="userForms">
        <h1 style="margin-top: 1em">
          {{fastest.questname}} ( {{fastest.monster}})
          <div id="fastestrecord">
            {%if session['language'] == 'Japanese'%}最速記録{%endif%}{%if
            session['language'] == 'English'%}Fastest Time{%endif%}<br />
            Time: {{fastest.minute}} : {{fastest.sec}}<br />
            {{fastest.weap}}
          </div>
        </h1>
        <img
          class="recordgraph"
          src="{{ url_for('static', filename = session['questname']+'.png')}}"
          style="width: 500px; height: 500px"
        />
        <form class="login-form" action="/record" method="POST">
          <table id="result" class="recordtable">
            <tr>
              <th>
                {%if session['language'] == 'Japanese'%}武器{%endif%}{%if
                session['language'] == 'English'%}Weapon{%endif%}
              </th>
              <th>
                {%if session['language'] == 'Japanese'%}分{%endif%}{%if
                session['language'] == 'English'%}Minutes{%endif%}
              </th>
              <th>
                {%if session['language'] == 'Japanese'%}秒{%endif%}{%if
                session['language'] == 'English'%}Seconds{%endif%}
              </th>
              <th>
                {%if session['language'] == 'Japanese'%}装備{%endif%}{%if
                session['language'] == 'English'%}Armor{%endif%}
              </th>
            </tr>

            {% for i in records%}
            <tr>
              <td>{{i.weapon}}</td>
              <td>{{i.minute}}</td>
              <td>{{i.seconds}}</td>
              <td>
                <button type="submit" name="submit" value="{{i.armorid}}">
                  {%if session['language'] ==
                  'Japanese'%}装備を見る{%endif%}{%if session['language'] ==
                  'English'%}View Armor Set{%endif%}</button
                ><br />
              </td>
            </tr>
            {%endfor%}
          </table>
          <button type="submit" name="submit" value="create">
            {%if session['language'] ==
            'Japanese'%}新しい記録を作成する{%endif%}{%if session['language'] ==
            'English'%}Create New Record{%endif%}
          </button>
          <button type="submit" name="submit" value="prev">
            {%if session['language'] == 'Japanese'%}前に戻る{%endif%}{%if
            session['language'] == 'English'%}Go back to the previous
            page{%endif%}
          </button>
          <script></script>
        </form>
      </div>
    </div>
  </body>
</html>
