<!DOCTYPE html> 
<html>
    <head>
        <title> Login</title>
    </head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <body>
    {% include "navbar.html"%}
        <div class = "login-page">
            <div class = "userForms">
            <h2 style = "margin-top: 1em;">{%if session['language'] == 'Japanese'%}入力情報{%endif%}{%if session['language'] == 'English'%}Information to add{%endif%}</h2>
            <form class = "login-form" action = "/recordcr" method = "POST">
            <div class = "userarmorinput">
                <label for = "weaponname">{%if session['language'] == 'Japanese'%}武器名{%endif%}{%if session['language'] == 'English'%}Weapon　Name{%endif%}</label>
                <input type = "text" class = "input" name = "weaponname" id = "weaponname" required>
                <label for "helm">{%if session['language'] == 'Japanese'%}頭防具{%endif%}{%if session['language'] == 'English'%}Helm{%endif%}</label>
                <input type = "text" class = "input" name = "helm" id = "helm" required>
                <label for = "chest">{%if session['language'] == 'Japanese'%}胴防具{%endif%}{%if session['language'] == 'English'%}Chest{%endif%}</label>
                <input type = "text" class = "input" name = "chest" id = "chest" required>
                <label for = "arm">{%if session['language'] == 'Japanese'%}腕防具{%endif%}{%if session['language'] == 'English'%}Arm{%endif%}</label>
                <input type = "text" class = "input" name = "arm" id = "arm" required>
               <label for "waist">{%if session['language'] == 'Japanese'%}腰防具{%endif%}{%if session['language'] == 'English'%}Waist{%endif%}</label>
                <input type = "text" class = "input" name = "waist" id = "waist" required>
                <label for "leg">{%if session['language'] == 'Japanese'%}脚防具{%endif%}{%if session['language'] == 'English'%}Leg{%endif%}</label>
                <input type = "text" class = "input" name = "leg" id = "leg" required>
                <label for "deco">{%if session['language'] == 'Japanese'%}護石{%endif%}{%if session['language'] == 'English'%}Charm{%endif%}</label>
                <input type = "text" class = "input" name = "deco" id = "deco" required>
            </div>
            <div id = "past">
            <table>
                <tr>
                    <th>{%if session['language'] == 'Japanese'%}選択肢{%endif%}{%if session['language'] == 'English'%}Options{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}武器名{%endif%}{%if session['language'] == 'English'%}Weapon　Name{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}頭{%endif%}{%if session['language'] == 'English'%}Helm{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}胴{%endif%}{%if session['language'] == 'English'%}Chest{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}腕{%endif%}{%if session['language'] == 'English'%}Arm{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}腰{%endif%}{%if session['language'] == 'English'%}Waist{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}脚{%endif%}{%if session['language'] == 'English'%}Leg{%endif%}</th>
                    <th>{%if session['language'] == 'Japanese'%}護石{%endif%}{%if session['language'] == 'English'%}Charm{%endif%}</th>
                </tr>
            {%for a in armorlist%}
            <tr>
            <td>
            <input type = "radio" id = "option" name = "option" value = "{{a.id}}">
            </td>
            <td><input type = "hidden" id = "myweapon{{a.id}}" value = "{{a.weaponname}}">{{a.weaponname}}</td>
            <td><input type = "hidden" id = "myhelm{{a.id}}" value = "{{a.helm}}">{{a.helm}}</td>
            <td><input type = "hidden" id = "mychest{{a.id}}" value = "{{a.chest}}">{{a.chest}}</td>
            <td><input type = "hidden" id = "myarm{{a.id}}" value = "{{a.arm}}">{{a.arm}}</td>
            <td><input type = "hidden" id = "mywaist{{a.id}}" value = "{{a.waist}}">{{a.waist}}</td>
            <td><input type = "hidden" id = "myleg{{a.id}}" value = "{{a.leg}}">{{a.leg}}</td>
            <td><input type = "hidden" id = "mydeco{{a.id}}" value = "{{a.deco}}">{{a.deco}}</td>
            </tr>
            {%endfor%}
            </table>
            <button type = "submit" name = "submit" value = "pastarmor" onclick = "validate()">{%if session['language']=='Japanese'%}過去の装備セットをつける{%endif%}{%if session['language']=='English'%}Input the armor set selected{%endif%}</button>
            </div>
            <div id = "usertimeinput">
                <label for = "minute">{%if session['language'] == 'Japanese'%}分{%endif%}{%if session['language'] == 'English'%}Minutes{%endif%}</label>
                <input type = "text" class = "minute" name = "minute"id = "minute" required>
                <label for = "seconds">{%if session['language'] == 'Japanese'%}秒{%endif%}{%if session['language'] == 'English'%}Seconds{%endif%}</label>
                <input type = "text" class = "seconds" name = "seconds"id = "seconds" required>
            </div>
            <div id = "danger"></div>
            <button type = "submit" name = "submit" value = "submit">{%if session['language'] == 'Japanese'%}記録する{%endif%}{%if session['language'] == 'English'%}Record the information{%endif%}</button>
            <button type = "submit" name = "submit" value = "prev">{%if session['language'] == 'Japanese'%}前に戻る{%endif%}{%if session['language'] == 'English'%}Go back to the previous page{%endif%}</button>
            <script>
                function validate(){
                    event.preventDefault();
                    let ele = document.getElementsByName('option');
                    let d = 0;
                    for(let i = 0; i<ele.length;i++){

                        if(ele[i].checked){
                        let c = ele[i].value;
                        let weap = "myweapon"+c;
                        document.getElementById("weaponname").value = document.getElementById(weap).value;
                        let helm = "myhelm"+c;
                        document.getElementById("helm").value = document.getElementById(helm).value;
                        let chest = "mychest"+c;
                        document.getElementById("chest").value = document.getElementById(chest).value;
                        let arm = "myarm"+c;
                        document.getElementById("arm").value = document.getElementById(arm).value;
                        let waist = "mywaist"+c;
                        document.getElementById("waist").value = document.getElementById(waist).value;
                        let leg= "myleg"+c;
                        document.getElementById("leg").value = document.getElementById(leg).value;
                        let deco = "mydeco"+c;
                        document.getElementById("deco").value = document.getElementById(deco).value;
                        }

                    }
                }



                
             </script>
            </form>
            </div>
        </div>
    </body>
</html>