<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
  </head>
  <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static',filename='style.css') }}"
  />
  <body>
    {% include "navbar.html"%}
    <div class="login-page">
      <div class="userForms">
        <h2 style="margin-top: 1em">
          {%if session['language'] == 'Japanese'%}武器{%endif%}{%if
          session['language'] == 'English'%}Weapon{%endif%}
        </h2>
        <form class="login-form" action="/recordwe" method="POST">
          <div class="weapon">
            {%if session['language'] ==
            'Japanese'%}どの武器で記録しますか？（下記から選んでください）{%endif%}{%if
            session['language'] == 'English'%}Choose weapon used to
            record{%endif%}
            <br />
            <br/>
            <label for="大剣"
              >{%if session['language'] == 'Japanese'%}大剣{%endif%}{%if
              session['language'] == 'English'%}Great Sword{%endif%}</label
            >
            <input type="radio" id="大剣" name="weap" value="大剣" required />
            <label for="太刀"
              >{%if session['language'] == 'Japanese'%}太刀{%endif%}{%if
              session['language'] == 'English'%}Long Sword{%endif%}</label
            >
            <input type="radio" id="太刀" name="weap" value="太刀" />
            <label for="片手剣"
              >{%if session['language'] == 'Japanese'%}片手剣{%endif%}{%if
              session['language'] == 'English'%}Sword and Shield{%endif%}</label
            >
            <input type="radio" id="片手剣" name="weap" value="片手剣" />
            <label for="双剣"
              >{%if session['language'] == 'Japanese'%}双剣{%endif%}{%if
              session['language'] == 'English'%}Dual Blades{%endif%}</label
            >
            <input type="radio" id="双剣" name="weap" value="双剣" />
            <label for="ランス"
              >{%if session['language'] == 'Japanese'%}ランス{%endif%}{%if
              session['language'] == 'English'%}Lance{%endif%}</label
            >
            <input type="radio" id="ランス" name="weap" value="ランス" />
            <label for="ガンランス"
              >{%if session['language'] == 'Japanese'%}ガンランス{%endif%}{%if
              session['language'] == 'English'%}Gun Lance{%endif%}</label
            >
            <input
              type="radio"
              id="ガンランス"
              name="weap"
              value="ガンランス"
            />
            <label for="ハンマー"
              >{%if session['language'] == 'Japanese'%}ハンマー{%endif%}{%if
              session['language'] == 'English'%}Hammer{%endif%}</label
            >
            <input type="radio" id="ハンマー" name="weap" value="ハンマー" />
            <label for="狩猟笛"
              >{%if session['language'] == 'Japanese'%}狩猟笛{%endif%}{%if
              session['language'] == 'English'%}Hunting Horn{%endif%}</label
            >
            <input type="radio" id="狩猟笛" name="weap" value="狩猟笛" />
            <label for="操虫棍"
              >{%if session['language'] == 'Japanese'%}操虫棍{%endif%}{%if
              session['language'] == 'English'%}Insect Glaive{%endif%}</label
            >
            <input type="radio" id="操虫棍" name="weap" value="操虫棍" />
            <label for="スラッシュアックス"
              >{%if session['language'] ==
              'Japanese'%}スラッシュアックス{%endif%}{%if session['language'] ==
              'English'%}Switch Axe{%endif%}</label
            >
            <input
              type="radio"
              id="スラッシュアックス"
              name="weap"
              value="スラッシュアックス"
            />
            <label for="チャージアックス"
              >{%if session['language'] ==
              'Japanese'%}チャージアックス{%endif%}{%if session['language'] ==
              'English'%}Charge Blade{%endif%}</label
            >
            <input
              type="radio"
              id="チャージアックス"
              name="weap"
              value="チャージアックス"
            />
            <label for="ライトボウガン"
              >{%if session['language'] ==
              'Japanese'%}ライトボウガン{%endif%}{%if session['language'] ==
              'English'%}Light Bowgun{%endif%}</label
            >
            <input
              type="radio"
              id="ライトボウガン"
              name="weap"
              value="ライトボウガン"
            />
            <label for="ヘビィボウガン"
              >{%if session['language'] ==
              'Japanese'%}ヘビィボウガン{%endif%}{%if session['language'] ==
              'English'%}Heavy Bowgun{%endif%}</label
            >
            <input
              type="radio"
              id="ヘビィボウガン"
              name="weap"
              value="ヘビィボウガン"
            />
            <label for="弓"
              >{%if session['language'] == 'Japanese'%}弓{%endif%}{%if
              session['language'] == 'English'%}Bow{%endif%}</label
            >
            <input type="radio" id="弓" name="weap" value="弓" />
          </div>
          <button type="submit" name="submit" value="submit">
            {%if session['language'] == 'Japanese'%}次に進む{%endif%}{%if
            session['language'] == 'English'%}Go next{%endif%}
          </button>
          <button type="submit" name="submit" value="prev">
            {%if session['language'] == 'Japanese'%}前に戻る{%endif%}{%if
            session['language'] == 'English'%}Go to the previous page{%endif%}
          </button>
          <script></script>
        </form>
      </div>
    </div>
  </body>
</html>
