<!DOCTYPE html> 
<html>
    <head>
        <title> Login</title>
    </head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <form action = "/viewrecord" method = "post">
    <body>
    {% include "navbar.html"%}

        <div class = "result-page" id = "result">
            <div class = "userForms">
            <h2 style = "margin-top: 1em;" id = "black">{%if session['language'] == 'Japanese'%}記録{%endif%}{%if session['language'] == 'English'%}Record{%endif%}</h2>
            </div>
                           <img
          class="recordgraph"
          src="{{ url_for('static', filename = session['username']+'piechart.png')}}"
          style="width: 700px; height: 500px"
    />
                   <img
          class="recordgraph"
          src="{{ url_for('static', filename = session['username']+'average.png')}}"
          style="width: 700px; height: 500px"
    />
            <table id = "resu" class = "recordtable"style = "display:block;">
            <tr>
                <th>{%if session['language'] == 'Japanese'%}クエスト名{%endif%}{%if session['language'] == 'English'%}Quest Name{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}モンスター{%endif%}{%if session['language'] == 'English'%}Monster{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}武器種{%endif%}{%if session['language'] == 'English'%}Weapon{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}タイム{%endif%}{%if session['language'] == 'English'%}Time{%endif%}</th>
            </tr>
            {%for i in records%}
            <tr>
                <td>{{i.questname}}</td>
                <td>{{i.monster}}</td>
                <td>{{i.weap}}</td>
                <td>{{i.minute}} : {{i.sec}}</td>
            </tr>
            {%endfor%}
            </table>
            <table id = "res" style = "display:none;">
            <tr>
                <th>{%if session['language'] == 'Japanese'%}クエスト名{%endif%}{%if session['language'] == 'English'%}Quest Name{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}モンスター{%endif%}{%if session['language'] == 'English'%}Monster{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}武器種{%endif%}{%if session['language'] == 'English'%}Weapon{%endif%}</th>
                <th>{%if session['language'] == 'Japanese'%}タイム{%endif%}{%if session['language'] == 'English'%}Time{%endif%}</th>
            </tr>
            {%for s in weaprecords%}
            <tr>
                <td>{{s.questname}}</td>
                <td>{{s.monster}}</td>
                <td>{{s.weap}}</td>
                <td>{{s.minute}} : {{s.seconds}}</td>
            </tr>
            {%endfor%}
            </table>
            <button type = "submit" name = "submit" value = "different" onclick = "changea()">速さ順</button>
            <button type = "submit" name = "submit" value = "different" onclick = "changeb()">武器ごと</button>
            <button type = "submit" name = "submit" value = "prev">前に戻る</button>
            <script>
                function changea(){
                    event.preventDefault();
                    document.getElementById('res').style = "display:none;";
                    document.getElementById('resu').style = "display:block;";
                }

                function changeb(){
                    event.preventDefault();
                    document.getElementById('resu').style = "display:none;";
                    document.getElementById('res').style = "display:block;";
                }
             </script>
            </form>
            </div>
        </div>
    </body>
</html>