<!DOCTYPE html> 
<html>
    <head>
        <title> Login</title>
    </head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <form action = "/viewrecord" method = "post">
    <body>
    {% include "navbar.html"%}
        <div class = "result-page" id = "result">
            <div class = "userForms">
            <h2 style = "margin-top: 1em;">記録</h2>
            <table id = "result">
            <tr>
                <th>クエスト名</th>
                <th>モンスター名</th>
                <th>武器種</th>
                <th>タイム</th>
            </tr>
            {%for i in records%}
            <tr>
                <td>{{i.questname}}</td>
                <td>{{i.monster}}</td>
                <td>{{i.weap}}</td>
                <td>{{i.minute}} : {{i.sec}}</td>
            </tr>
            {%endfor%}
            </table>
            <button type = "submit" name = "submit" value = "prev">前に戻る</button>
            <script>

             </script>
            </form>
            </div>
        </div>
    </body>
</html>